<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">ComponentsDemo</a>
    <button class="navbar-toggler" onclick="@ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" onclick="@ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/TagSelector">Tag Selector</NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/Tree">Tree</NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/PagePanel">Page Panel</NavLink>
        </li>
    </ul>
</div>

@functions {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
