
<div class="uic-pagepanel @Class" style="@Style">
    <div class="uic-pagepanel__container" style="left:@LeftPosition()">
        <CascadingValue Value="@PageIndex">
            @ChildContent
        </CascadingValue>
    </div>
</div>

@functions {

    [Parameter] RenderFragment ChildContent { get; set; }

    [Parameter] int PageIndex { get; set; }

    [Parameter] string Style { get; set; }

    [Parameter] string Class { get; set; }

    private string LeftPosition() => $"-{PageIndex * 100}%";

}