
<div class="uic-pagepanel @Class" style="@Style">
    <div class="uic-pagepanel__container" style="left:@LeftPosition()">
        <CascadingValue Value="PageIndex">
            @ChildContent
        </CascadingValue>
    </div>
</div>

@code {

    [Parameter] public RenderFragment ChildContent { get; set; }

    [Parameter] public int PageIndex { get; set; }

    [Parameter] public string Style { get; set; }

    [Parameter] public string Class { get; set; }

    private string LeftPosition() => $"-{PageIndex * 100}%";

}