@using MW.Blazor

<div class="uic-pagepanel__page @Class" style="@BuildCurrentPageStyle() @Style">

    @ChildContent

</div>

@functions {

    [Parameter] IEnumerable<PageState> States { get; set; } = Enumerable.Empty<PageState>();

    [Parameter] string Widths { get; set; }

    //[Parameter] IEnumerable<int> Widths { get; set; } = Enumerable.Empty<int>();

    [Parameter] int PageIndex { get; set; }

    [Parameter] RenderFragment ChildContent { get; set; }

    [Parameter] string Class { get; set; }

    [Parameter] string Style { get; set; }

    string BuildCurrentPageStyle()
    {
        var widthList = (Widths ?? "").Split(new[] { ';' }, StringSplitOptions.RemoveEmptyEntries).ToList();

        var width = widthList.Any()
            ? widthList[Math.Max(Math.Min(PageIndex, widthList.Count - 1), 0)]
            : "0";

        return $"flex-basis:{width};";
    }

}