@using PagePanelComponent

@page "/PagePanel"

<div class="mb-3" style="height:250px;">
    <PagePanel PageIndex=@CurrentPage>
        <Page PageIndex=@CurrentPage Widths="50%">
            <div class="d-flex justify-content-center align-items-center h-100 text-white h4" style="background:#00ff90">
                Page 1
            </div>
        </Page>
        <Page PageIndex=@CurrentPage Widths="50%;30%">
            <div class="d-flex justify-content-center align-items-center h-100 text-white h4" style="background:#1596c7">
                Page 2
            </div>
        </Page>
        <Page PageIndex=@CurrentPage Widths="70%">
            <div class="d-flex justify-content-center align-items-center h-100 text-white h4" style="background:#b823be">
                Page 3
            </div>
        </Page>
    </PagePanel>
</div>

<button onclick=@{() => CurrentPage-- }><</button>
@CurrentPage
<button onclick=@{() => CurrentPage++ }>></button>


@functions {

    int CurrentPage { get; set; }

}