@using PagePanelComponent

@page "/PagePanel"

<div class="mb-3" style="height:250px;">
    <PagePanel>
        <Page CurrentPageIndex=@CurrentPage States=@Page1>
            <div class="d-flex justify-content-center align-items-center h-100 text-white h4" style="background:#00ff90">
                Page 1
            </div>
        </Page>
        <Page CurrentPageIndex=@CurrentPage States=@Page2>
            <div class="d-flex justify-content-center align-items-center h-100 text-white h4" style="background:#1596c7">
                Page 2
            </div>
        </Page>
        <Page CurrentPageIndex=@CurrentPage States=@Page3>
            <div class="d-flex justify-content-center align-items-center h-100 text-white h4" style="background:#b823be">
                Page 3
            </div>
        </Page>
    </PagePanel>
</div>

<button onclick=@{() => CurrentPage-- }><</button>
<button onclick=@{() => CurrentPage++ }>></button>


@functions {

    int CurrentPage { get; set; }

    IEnumerable<PageState> Page1 = new[]
    {
        new PageState("50%", "0"),
        new PageState("50%", "-50%")
    };

    IEnumerable<PageState> Page2 = new[]
    {
        new PageState("50%", "50%"),
        new PageState("35%", "0")
    };

    IEnumerable<PageState> Page3 = new[]
    {
        new PageState("50%", "100%"),
        new PageState("65%", "35%")
    };

    IEnumerable<PageState> Page4 = new[]
    {
        new PageState("50%", "100%"),
        new PageState("65%", "35%")
    };

}