
.uic-pagepanel { overflow:hidden; }
.uic-pagepanel__container { position: relative; display: flex; flex-wrap: nowrap; align-items: stretch; height: 100%; transition: all ease-in-out 200ms; }
.uic-pagepanel__page { transition: all ease-in-out 200ms; overflow: hidden; flex-grow:0; flex-shrink:0; }



/* basic style */
.uic-tag-selector { position:relative;  }
.uic-tag-selector__box { display:flex; flex-wrap:wrap; align-items:center; }
.uic-tag-selector__box > input { flex: 1 1 auto; border:none; outline:none; width:1px; }
.uic-tag-selector__box > span > span { cursor:pointer; }
.uic-tag-selector__dropdown { position:absolute; top:100%; left:-1px; right:-1px; display:none; }
.uic-tag-selector__dropdown:hover .uic-tag-selector__item--selected { background-color:initial; }
.uic-tag-selector__dropdown > div { cursor:pointer; }
.uic-tag-selector--open > .uic-tag-selector__dropdown { display:block; }

/* default style */
.uic-tag-selector.default { border:1px solid #ccc; }
.uic-tag-selector__box > span.default { background-color:#ccc; padding:2px 4px; margin:0 5px; }
.uic-tag-selector__dropdown.default { border:1px solid #ccc; background-color:#fff; }
.uic-tag-selector__dropdown > div.default:hover { background-color:#ccc !important; }
div.default.uic-tag-selector__item--selected { background-color:#ccc; }

/* bootstrap style */
.uic-tag-selector.form-control { padding:0.3rem; }
.uic-tag-selector__box > span.badge { font-size:0.9rem; margin-right:0.3rem; font-weight:normal; }








.uic-tree .uic-tree { margin-left:1.25rem; }
.uic-tree--hidden { display:none; }
.uic-tree__icon { float: left; }
.uic-tree__title { margin-left:1.25rem; }
.uic-tree .curosr-pointer { cursor:pointer; }